<h1>Room <%= @room.name %></h1>
<% form_for :room, @room , :url => { :action => "update" } do |form| %>
<%= render :partial => "form", :locals => { :form => form } %>
<%= submit_tag "update" %>

<% end %>
